body {
	padding: 10rem 0 0 0;
	color: #ffffff;
}

.nav-item {
	margin: auto 0 1rem 2rem;
}

.nav {
	height: 10rem;
	margin: 0;
}

#logo {
	height: 9rem;
	margin: auto 0;
}
#cart {
	height: 20rem;
	top: 10rem;
}

.product {

}
